// Real estate colours
$darkPurple2: #0C002B;
$grey: #FAF7F5;
$offwhite: #FFFEFF;
$pink: #FF718E;
$darkgrey: #ADA8AA;
$lightGrey: #D1CBCD;

// Colors
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$blue: #3490dc;
$indigo: #6574cd;
$violet: #EE82EE
$purple: #9561e2;
$pink: #f66D9b;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Projects colour collection
$lightPurple: #302D43;
$darkPurple: #282639;
$neonGreen: #92CF48;
$lightGreyBG: #F4F6F9;
$darkGreyBG: #EAEDF3;
$darkGreyFont: #6C7882;
$lightGreyFont:#BBC1CD;
$lightGreyFont2: #A5ADBD;
$naranga: #F48320;
$purple: #744BCE;
$light-text: #a5aebc;
$that-red: #d13328;
$verde: #7dcf85;
$cyanType3: #6cf;

//grid system
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: 'only screen and (min-width: 0px)';
$breakpoint-medium: 'only screen and (min-width: 768px)';
$breakpoint-large: 'only screen and (min-width: 1008px)';
$breakpoint-xl: 'only screen and (min-width: 1300px)';
